<h3>Question has been added to Survey</h3>

<footer>
  <a href="/"><button type="button" class="btn">Home</button></a>
  <a href="/question_form"><button type="button" class="btn">Add Another Question</button></a>
</footer>
