<form class="" action="/add_survey" method="post">
  <h3>What is the title of your survey?</h3>
  <label for="title">Title:</label>
  <input type="text" name="title" class="form-control">
  <button type="submit" class="btn add_title">Add Title</button>
</form>
<footer>
  <a href="/"><button type="button" class="btn">Home</button></a>
</footer>
